extends layout

block content
  h1= title
  each gadget in results
    h3 Name: #{gadget.name}
    li Brand: #{gadget.brand}
    li Price: $#{gadget.price}
    li Features: #{gadget.features}
    li Warranty: #{gadget.warranty}
