extends layout

block content
  h1 Search Results - Galaxies

  .container-fluid
    .row
      each item in results
        div.col-sm-2(onclick=`explore(${item._id})`) 
          h3 #{item.name}
          p Year: #{item.year}
          p Discovered By: #{item.inventor}
  
  a(href='/') Back to Home

  script.
    function explore(index) {
      alert(`You are exploring galaxy ${index}`);
    }
