extends layout

block content
    h1 Galaxy Update

    if (toShow == null)
        h2 No instance found to update
    else
        - let galaxyid = toShow._id
        - let name = toShow.name
        - let galaxyDiscoverer = toShow.discoverer
        - let galaxyYear = toShow.year

        div.row.mb-3
            div.mr-1.font-weight-bold ID is:
            div #{galaxyid}

        - let actionid = "/resource/galaxies/" + galaxyid
        form(id='galaxiesForm', action=actionid, method="PUT")
            div.form-group
                label.galaxyAttr(for='name') Galaxy Name:
                input#name(type='text', name='name', value=name, class='form-control')
            div.form-group
                label.galaxyAttr(for='year') Galaxy Year:
                input#year(type='text', name='year', value=galaxyYear, class='form-control')
            div.form-group
                label.galaxyAttr(for='discoverer') Galaxy Discoverer:
                input#discoverer(type='text', name='discoverer', value=galaxyDiscoverer, class='form-control')
            input(type="submit", class="btn btn-primary mt-2")

        button(class="btn btn-secondary mt-2 ml-2" onclick="goBack()") Cancel

    script.
        function goBack() {
            window.location.href = "/galaxies";
        }

    script.
        document.forms['galaxiesForm'].addEventListener('submit', (event) => {
            event.preventDefault();
            fetch(event.target.action, {
                method: 'PUT',
                body: new URLSearchParams(new FormData(event.target)) // event.target is the form
            })
            .then((resp) => resp.json())
            .then((body) => {
                alert("Update succeeded");
                window.location.href = "/galaxies";
            })
            .catch((error) => {
                alert("Update failed " + error);
            });
        });
